%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('home'), root_path, class: "nav-link"
      .col-sm-3
        %p.general-nav-mail support@delivery.com
        %p.general-nav-number (555)-555-5555
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "https://facebook.com"}
              %i.fa.fa-facebook
          %li
            %a.nav-link{href: "https://twitter.com"}
              %i.fa.fa-twitter
          %li
            %a.nav-link{href: "https://google.com"}
              %i.fa.fa-google-plus
          %li
            %a.nav-link{href: "https://instagram.com"}
              %i.fa.fa-instagram